button {
    outline: none;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}
p {
    line-height: 1;
    margin-block: 0;
}
textarea {
    outline: none;
    resize: none;
    box-shadow: 0 0 0 rgba(0,0,0,0);
    -webkit-appearance:none;
    border: none;
}
